@using LibraryProject.Models

<style>
    .glyphicon {
        display: inline-block;
        padding: 0 5px;
    }

    .glyphicon-chevron-right:after {
        content: "\00BB";
    }

    .glyphicon-chevron-left:before {
        content: "\00AB";
    }
</style>

<h1>Список книжок</h1>

<p><a asp-action="Create">Додати книжку</a></p>

<form method="get">
    <label>Им'я: </label>
    <input name="name" value="@Model.FilterViewModel.SelectedName" />
    <input type="submit" value="Відфільтрувати" />
</form>

<table>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.IDSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)">ID</a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)">Назва</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.AuthorSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)">Автор</a>
        </th>
        
    </tr>
    @foreach (var book in Model.books)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@book.Id">Змінити</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@book.Id">
                    <input type="submit" value="Видалити" />
                </form>
            </td>
        </tr>
        

    }
</table>
<p>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="glyphicon glyphicon-chevron-left">
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="glyphicon glyphicon-chevron-right">
            Вперед
        </a>
    }
</p>